/* app/globals.css */

@import 'github-markdown-css/github-markdown.css';

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


@reference "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* お好みのスタイルをここに追加してね */
@layer base {
  body {
    @apply bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200;
  }
}

html {
  scrollbar-gutter: stable;
}

.dark .editor-toolbar, .dark .CodeMirror, .dark .editor-statusbar {
  background-color: #374151 !important; /* bg-gray-700 */
  color: #D1D5DB !important; /* text-gray-300 */
  border-color: #4B5563 !important; /* border-gray-600 */
}

.dark .CodeMirror-cursor {
  border-left-color: #D1D5DB !important;
}